/* reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
    font-size: 20px;
    background-color: deeppink;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
}
  
.menu ul {
  display: flex;
  justify-content: space-around;
}
  
.menu li {
  list-style: none;
}

.menu a {
  color: #22c1c3;
  display: block;
  padding: 10px 20px;
}
  
a {
  color: teal;
  text-decoration: none;
}
  
a:hover {
  text-decoration: underline;
}
  
.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-family: 'PT Serif', serif;
}
  
.site-subtitle {
  font-style: italic;
  font-family: 'Comic Neue', cursive;
}

.img-portfolio {
  height: 180px;
  width: 180px;
}